a{color:chocolate;
  background-color: beige; 
  text-decoration: underline;
  border-style: dashed;
  border-top-color: bisque;
  border-left-color: bisque;
  text-align: center;
  }
  
    h2{
      font-size: x-large;
      color: red;
      border-style: double;
      background-color: bisque;
      border-color:chocolate
    }
    h3{
      font-size: x-large;
      color: orange; 
      border-style: double;
      background-color: bisque;
      border-color:chocolate
    }
    h4{
      font-size: x-large;
       color: yellow; 
       border-style: double;
       background-color:burlywood;
       border-color:chocolate
    }
    h6{font-size:large;
       color:brown;
      text-decoration:underline; 
      text-size-adjust: 5px;

    }
    ul{display:flex ;justify-content: center;}
    li{margin: right 10px;list-style:none ;}
    
    body{
    background-image:url(https://www.parismuseescollections.paris.fr/sites/default/files/styles/pm_diaporama_zoom/public/atoms/images/CAR/lpdp_25820-2.jpg?itok=Vi0WbWxy);
    border: solid red;  
    }
    
    .cours{display: flex;justify-content:flex-start ;flex-direction: row;
    
    }
    
    .cours img{height: 250px; 
    border: solid 4px black; 
    
    
    
    
    }
    
    
    .résumé h1{color:chocolate;
    font-size: 20px;  
    
    }
    
    .résumé span{
    text-decoration: underline;
    color:red ;  
    }
    
    .img_index{height: 250px;
      border:solid 10px black;
     
    
    }
    
    .cours span{
    text-decoration: underline;  
    color: red;
    }
    
    .flexy {
     display: flex; 
    }
    
    .grid-container{
    display:grid ;
    grid: template columns: 100px 200px 300px;
    grid: template rows: 100px 200px 300px;
    
    }

.img_resume{height: 135px;
  border:solid 5px black;;
}

